@import "tailwindcss";

/* =========================
   DESIGN TOKENS (Tailwind v4)
   ========================= */

@theme {
  --color-primary: #1f4fd8;

  --color-text-main: #111827;
  --color-text-muted: #6b7280;

  --color-bg-main: #ffffff;
  --color-bg-muted: #f7f8fa;

  --color-border: #e5e7eb;
}
